/*---------------------------------------------------------
**
** DASHBOARD
**
----------------------------------------------------------*/
/*#dashboard{display: none;}*/
#dashboard {
  &.is-draggie{
    .packery-drop-placeholder {
      outline: 3px dashed rgba(0, 0, 0, 0.2);
      outline-offset: -6px;
      transition: -webkit-transform 0.2s;
      transition: transform 0.2s;
    }
    .widget{
      overflow: hidden;
      &:hover{
        .widget-drag-button {
          opacity: 1;
          transition-duration: 0.4s;
        }
      }
      .widget-drag-button{
        position: absolute;
        right: -30px;
        top: -11px;
        padding: 15px 35px 5px 35px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        font-size: 1.5em;
        color: #FFF;
        z-index: 11;
        font-family: $font-icon-solid;
        opacity: 0;
        cursor: move;
        transition-duration: 0.4s;
      }
    }
  }
}
.widget {
  display: inline-block;
  padding: 20px;
  margin: 0px 1% 20px 1%;
  .intern-box {
    border-radius: 4px;
  }

  &.evoFC_Widget{
    .widget-title{
      display: none;
    }
  }
  &.widget_woffice_wiki .list-wiki li{
    display: flex;
    justify-content: space-between;
    a{
      color: $brand-heading;
      text-decoration: none;
      &:hover{
        text-decoration: none !important;
      }
    }
    .badge{
      height: 100%;
    }
  }
  &.widget_woffice_tasks_assigned .assigned-task,
  &.widget_woffice_wiki .list-wiki li,
  &.widget_recent_entries li{
        list-style: none;
        padding: 15px;
        border-radius: 15px;
        background-color: $brand-white;
        margin-bottom: 15px;
    }
  &.widget_woffice_event{
    .new-event-btn{
      margin-top: 20px;
    }
  }
  &.widget_woffice_tasks_assigned {
    .project-assigned-head{
      .fa-check-circle{
        font-size: 28px;
      }
    }
  }
}
#content-container {
  .widget {
    .intern-padding {
      ul {
        padding-left: 0;
        margin-bottom: 0;
      }
    }
  }
  .bbp-forums-widget{
    li{
      list-style: none;
      padding: 20px;
      background-color: $brand-white;
      margin-bottom: 15px;
    }
  }
  .bbp-replies-widget{
    li{
      list-style: none;
      padding: 20px;
      background-color: $brand-white;
      margin-bottom: 15px;
      &::before{
        font-family: "Font Awesome 5 Free";
      }
      a{
        color: $brand-heading;
        text-decoration: none;
      }
    }
  }
    
}
.widget {
  #calendar_wrap {
    #wp-calendar {
      width: 100%;
      tr {
        padding: 5px 0;
      }
      td {
        padding: 5px 0;
      }
    }
  }
}
